*{
    box-sizing: border-box;
    margin: 0;
}

main{
    height: calc(100vh - 150px);
    overflow: scroll;
    justify-content: center;

}

header{
    height: 50px;
}

footer{
    height: 100px;
    background-color:rgb(60,60,60);
}

div li{
list-style: none;
}

button{
    border-radius: 10px;
}


